DB_HOST=host.docker.internal
DB_PORT=3306
MYSQL_DATABASE=hubly_ticket
MYSQL_USER=hubly_ticket
MYSQL_PASSWORD=change-me

JWT_SECRET=change-me-to-a-long-random-secret
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@hublyapp.com.br
ADMIN_PASSWORD=change-me

API_PORT=3003
WEB_PORT=3004
VITE_API_URL=https://api-support.hublyapp.com.br
APP_PUBLIC_URL=https://support.hublyapp.com.br
WEB_ORIGIN=https://support.hublyapp.com.br

EVOLUTION_API_URL=https://evolution.hublyapp.com.br
EVOLUTION_API_KEY=change-me
EVOLUTION_INSTANCE_NAME=change-me
WHATSAPP_NOTIFY_PHONE=5599999999999
